<!doctype html>
<html ng-app="scotchTodo">

<head>
	<!-- META -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

	<title>Node/Angular Todo App</title>

	   
     <!-- SPELLS -->
	<script language="javascript" type="text/javascript" src='/javascript/codeindex.js'></script>
	<script language="javascript" type="text/javascript" src='/javascript/jquery-1.11.1.min.js'></script>
	


</head>
<!-- SET THE CONTROLLER -->
<body>
	   <P>This is very minimal "Hello World" HTML document.</P> 
		<br>
	   <label for="axinput1">Ajax Export 1: <input id="axinput1" name="axinput1" size='80'> </label>
	   <br><br>
	   <label for="axinput2">Ajax Export 2: <input id="axinput2" name="axinput2" size='80'> </label> 
	   <br><br> 
	   <button id="btajaxone" type="btajaxone">One Function</button>
	   <br><br> 
	   <button id="btaxstart" type="btaxstart">start</button>
	   <button id="btaxtimer" type="btaxtimer">timer</button>
	   <button id="timerstop" type="timerstop">stop</button>

</body>

<script type="text/javascript">
     Index_Load();
</script>

</html>